.side-menu-item {
  --box-shadow-focus: 0 0 0 3px rgba(61, 76, 102, .5);
  --logo-url: url('../../assets/logo.png');
}

.side-menu-item,
.side-menu-item__control,
.side-menu-item__icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.side-menu-item__control {
  width: 48px;
  height: 48px;
  border-radius: 8px;
  background-color: transparent;
  transition-duration: 0.2s;
  transition-property: background-color;
  border-width: 0;
  cursor: pointer;
}

.side-menu-item__icon svg {
  width: 24px;
  height: 24px;
}

.side-menu-item__control:hover,
.side-menu-item__control.router-link-active {
  background-color: var(--color-side-menu-item);
}

.side-menu-item__control:focus {
  outline: 0;
  box-shadow: var(--box-shadow-focus);
}

.side-menu-item__control[disabled] {
  opacity: .5;
  cursor: not-allowed;
}

.side-menu-item:hover .side-menu-item__control[disabled] {
  background-color: transparent;
}

.side-menu-item--logo {
  height: 48px;
  margin-right: 6px;
}

.side-menu-item--logo .side-menu-item__control {
  background-color: transparent;
  width: auto;
  text-decoration: none;
}

.side-menu-item--logo .side-menu-item__label {
  color: #fff;
  font-size: 32px;
  font-weight: bold;
  padding-bottom: 6px;
  padding-left: 6px;
}

.side-menu-item--logo .side-menu-item__icon {
  background-image: var(--logo-url);
  background-size: contain;
  height: 48px;
  width: 48px;
}

.side-menu-item .el-tooltip {
  outline: 0;
}

@media (min-width: 1024px) {
  .side-menu-item--logo {
    margin-top: 6px;
    margin-right: 0;
  }

  .side-menu-item--logo .side-menu-item__control {
    width: 48px;
  }

  .side-menu-item__label {
    display: none;
  }
}
