:root {
	--box-shadow-focus: 0 0 0 2px var(--color-accent-light);
}

.accent-button,
.regular-button,
.secondary-button {
	font-size: var(--text-menu);
	letter-spacing: var(--tracking-wide);
	font-weight: bold;
	border-radius: 8px;
	padding-left: 16px;
	padding-right: 16px;
	height: 40px;
	cursor: pointer;
}

.accent-button,
.regular-button,
.secondary-button {
	transition-duration: var(--transition-duration);
	transition-property: var(--transition-property-form-item);
}

/* Для кнопок в которых только иконка, без текста */
.icon-button {
	width: 40px;
	padding: 0;
}

.label-button {
  padding: 0;
  border-width: 0;
  font-family: inherit;
  background-color: transparent;
}

.white-button:focus,
.regular-button:focus,
.accent-button:focus,
.secondary-button:focus,
.label-button:focus {
	outline: 0;
	box-shadow: var(--box-shadow-focus);
}

.accent-button,
.regular-button {
	border-style: solid;
}

.accent-button:active,
.regular-button:active,
.label-button:active {
	box-shadow: none;
}

.accent-button[disabled],
.regular-button[disabled],
.secondary-button[disabled] {
	cursor: not-allowed;
}

.accent-button--theme-success {
	--color-accent: var(--color-success);
	--color-accent-light: var(--color-success-light);
	--color-accent-dark: var(--color-success-dark);
	--color-accent-darker: var(--color-success-darker);
}

.accent-button--theme-danger {
	--color-accent: var(--color-danger);
	--color-accent-light: var(--color-danger-light);
	--color-accent-dark: var(--color-danger-dark);
	--color-accent-darker: var(--color-danger-darker);
}

.accent-button {
	background-color: var(--color-accent);
	color: var(--color-white);
	border-width: 0;
}

.accent-button[disabled] {
  background-color: var(--color-accent-light);
}

.accent-button:not([disabled]):hover {
	background-color: var(--color-accent-dark);
}

.accent-button:active {
	background-color: var(--color-accent-darker) !important;
}

.regular-button {
	background-color: var(--color-white);
	color: var(--color-accent-dark);
	border-color: var(--color-accent);
	border-width: 2px;
}

.regular-button:not([disabled]):hover {
	color: var(--color-accent-darker);
	border-color: var(--color-accent-darker);
}

.regular-button:active {
	background-color: var(--color-background);
}

.secondary-button {
	background-color: var(--color-white);
	color: var(--color-primary-text);
	font-weight: normal;
	border-width: 2px;
	border-style: solid;
	border-color: #dde0e6;
}

.secondary-button:not([disabled]):hover,
.secondary-button:active {
	background-color: var(--color-background);
}

.regular-button[disabled],
.secondary-button[disabled] {
  opacity: .5;
}

.secondary-button[disabled] {
  color: var(--color-plain-text);
}

.white-button {
	border-width: 0;
	cursor: pointer;
	background-color: #fff;
}

.secondary-button [class^="el-icon-"] {
	color: inherit;
}
