@font-face{
	font-family: 'element-icons';
	src: url(../assets/fonts/element-icons.woff) format('woff'),
			 url(../assets/fonts/element-icons.ttf) format('truetype');
	font-weight: 400;
	font-display: 'auto';
	font-style: normal;
}
