/*! utils:start */
.block {display:block}
.inline-block {display:inline-block}
.inline {display:inline}
.flex {display:flex}
.inline-flex {display:inline-flex}
.table {display:table}
.table-caption {display:table-caption}
.table-cell {display:table-cell}
.table-column {display:table-column}
.table-column-group {display:table-column-group}
.table-footer-group {display:table-footer-group}
.table-header-group {display:table-header-group}
.table-row-group {display:table-row-group}
.table-row {display:table-row}
.flow-root {display:flow-root}
.grid {display:grid}
.inline-grid {display:inline-grid}
.hidden {display:none}
.flex-row {flex-direction:row}
.flex-row-reverse {flex-direction:row-reverse}
.flex-col {flex-direction:column}
.flex-col-reverse {flex-direction:column-reverse}
.flex-wrap {flex-wrap:wrap}
.flex-wrap-reverse {flex-wrap:wrap-reverse}
.flex-no-wrap {flex-wrap:nowrap}
.items-start {align-items:flex-start}
.items-end {align-items:flex-end}
.items-center {align-items:center}
.items-baseline {align-items:baseline}
.items-stretch {align-items:stretch}
.justify-start {justify-content:flex-start}
.justify-end {justify-content:flex-end}
.justify-center {justify-content:center}
.justify-between {justify-content:space-between}
.justify-around {justify-content:space-around}
.justify-evenly {justify-content:space-evenly}
.flex-grow-0 {flex-grow:0}
.flex-grow {flex-grow:1}
.flex-shrink-0 {flex-shrink:0}
.flex-shrink {flex-shrink:1}
.float-right {float:right}
.float-left {float:left}
.float-none {float:none}
.clearfix:after {content:"";display:table;clear:both}
.bg-transparent {background-color:transparent}
.bg-white {background-color:#fff}
.bg-side-menu {background-color:#2e384d}
.bg-side-menu-item {background-color:#3d4c66}
.bg-background-darker {background-color:#cfdbeb}
.bg-background-dark {background-color:#e1e9f3}
.bg-background {background-color:#f3f6fa}
.bg-plain-text {background-color:#616266}
.bg-primary-text {background-color:#181c29}
.bg-primary-text-alpha-10 {background-color:rgba(24,28,4,.1)}
.bg-accient-text {background-color:#214ecc}
.bg-accient-text-alpha-10 {background-color:rgba(33,78,204,.1)}
.bg-borders {background-color:#dadde5}
.bg-borders-alt {background-color:#dfe1e6}
.bg-accient-darker {background-color:#214ecc}
.bg-accient-dark {background-color:#416fde}
.bg-accient {background-color:#6090f0}
.bg-accient-light {background-color:#cce0ff}
.bg-danger-darker {background-color:#a22020}
.bg-danger-dark {background-color:#b72525}
.bg-danger {background-color:#cc2929}
.bg-danger-light {background-color:#f5d4d4}
.bg-danger-alpha-10 {background-color:rgba(204,41,41,.1)}
.bg-success-darker {background-color:#1e844a}
.bg-success-dark {background-color:#295}
.bg-success {background-color:#27ae61}
.bg-success-light {background-color:#d4efdf}
.bg-warning-darker {background-color:#cbae16}
.bg-warning-dark {background-color:#e2c219}
.bg-warning {background-color:#e8ca2c}
.bg-warning-light {background-color:#faf2cd}
.bg-icons {background-color:#aaadb3}
.text-transparent {color:transparent}
.text-white {color:#fff}
.text-side-menu {color:#2e384d}
.text-side-menu-item {color:#3d4c66}
.text-background-darker {color:#cfdbeb}
.text-background-dark {color:#e1e9f3}
.text-background {color:#f3f6fa}
.text-plain-text {color:#616266}
.text-primary-text {color:#181c29}
.text-primary-text-alpha-10 {color:rgba(24,28,4,.1)}
.text-accient-text {color:#214ecc}
.text-accient-text-alpha-10 {color:rgba(33,78,204,.1)}
.text-borders {color:#dadde5}
.text-borders-alt {color:#dfe1e6}
.text-accient-darker {color:#214ecc}
.text-accient-dark {color:#416fde}
.text-accient {color:#6090f0}
.text-accient-light {color:#cce0ff}
.text-danger-darker {color:#a22020}
.text-danger-dark {color:#b72525}
.text-danger {color:#cc2929}
.text-danger-light {color:#f5d4d4}
.text-danger-alpha-10 {color:rgba(204,41,41,.1)}
.text-success-darker {color:#1e844a}
.text-success-dark {color:#295}
.text-success {color:#27ae61}
.text-success-light {color:#d4efdf}
.text-warning-darker {color:#cbae16}
.text-warning-dark {color:#e2c219}
.text-warning {color:#e8ca2c}
.text-warning-light {color:#faf2cd}
.text-icons {color:#aaadb3}
.hover\:text-transparent:hover {color:transparent}
.hover\:text-white:hover {color:#fff}
.hover\:text-side-menu:hover {color:#2e384d}
.hover\:text-side-menu-item:hover {color:#3d4c66}
.hover\:text-background-darker:hover {color:#cfdbeb}
.hover\:text-background-dark:hover {color:#e1e9f3}
.hover\:text-background:hover {color:#f3f6fa}
.hover\:text-plain-text:hover {color:#616266}
.hover\:text-primary-text:hover {color:#181c29}
.hover\:text-primary-text-alpha-10:hover {color:rgba(24,28,4,.1)}
.hover\:text-accient-text:hover {color:#214ecc}
.hover\:text-accient-text-alpha-10:hover {color:rgba(33,78,204,.1)}
.hover\:text-borders:hover {color:#dadde5}
.hover\:text-borders-alt:hover {color:#dfe1e6}
.hover\:text-accient-darker:hover {color:#214ecc}
.hover\:text-accient-dark:hover {color:#416fde}
.hover\:text-accient:hover {color:#6090f0}
.hover\:text-accient-light:hover {color:#cce0ff}
.hover\:text-danger-darker:hover {color:#a22020}
.hover\:text-danger-dark:hover {color:#b72525}
.hover\:text-danger:hover {color:#cc2929}
.hover\:text-danger-light:hover {color:#f5d4d4}
.hover\:text-danger-alpha-10:hover {color:rgba(204,41,41,.1)}
.hover\:text-success-darker:hover {color:#1e844a}
.hover\:text-success-dark:hover {color:#295}
.hover\:text-success:hover {color:#27ae61}
.hover\:text-success-light:hover {color:#d4efdf}
.hover\:text-warning-darker:hover {color:#cbae16}
.hover\:text-warning-dark:hover {color:#e2c219}
.hover\:text-warning:hover {color:#e8ca2c}
.hover\:text-warning-light:hover {color:#faf2cd}
.hover\:text-icons:hover {color:#aaadb3}
.font-roboto {font-family:Roboto,sans-serif}
.font-yandex {font-family:"YS Text",sans-serif}
.text-0 {font-size:0}
.text-14px {font-size:14px}
.text-16px {font-size:16px}
.text-body {font-size:13px}
.text-menu {font-size:14px}
.text-h1 {font-size:28px}
.text-h2 {font-size:24px}
.text-h3 {font-size:20px}
.text-h4 {font-size:16px}
.text-h5 {font-size:14px}
.text-huge {font-size:56px}
.font-normal {font-weight:400}
.font-medium {font-weight:500}
.font-bold {font-weight:700}
.underline {text-decoration:underline}
.line-through {text-decoration:line-through}
.no-underline {text-decoration:none}
.hover\:underline:hover {text-decoration:underline}
.hover\:line-through:hover {text-decoration:line-through}
.hover\:no-underline:hover {text-decoration:none}
.text-left {text-align:left}
.text-center {text-align:center}
.text-right {text-align:right}
.text-justify {text-align:justify}
.rounded-form-item {border-radius:8px}
.rounded-layout {border-radius:12px}
.rounded-t-form-item {border-top-left-radius:8px;border-top-right-radius:8px}
.rounded-r-form-item {border-top-right-radius:8px;border-bottom-right-radius:8px}
.rounded-b-form-item {border-bottom-right-radius:8px;border-bottom-left-radius:8px}
.rounded-l-form-item {border-top-left-radius:8px;border-bottom-left-radius:8px}
.rounded-t-layout {border-top-left-radius:12px;border-top-right-radius:12px}
.rounded-r-layout {border-top-right-radius:12px;border-bottom-right-radius:12px}
.rounded-b-layout {border-bottom-right-radius:12px;border-bottom-left-radius:12px}
.rounded-l-layout {border-top-left-radius:12px;border-bottom-left-radius:12px}
.rounded-tl-form-item {border-top-left-radius:8px}
.rounded-tr-form-item {border-top-right-radius:8px}
.rounded-br-form-item {border-bottom-right-radius:8px}
.rounded-bl-form-item {border-bottom-left-radius:8px}
.rounded-tl-layout {border-top-left-radius:12px}
.rounded-tr-layout {border-top-right-radius:12px}
.rounded-br-layout {border-bottom-right-radius:12px}
.rounded-bl-layout {border-bottom-left-radius:12px}
.overflow-auto {overflow:auto}
.overflow-hidden {overflow:hidden}
.overflow-visible {overflow:visible}
.overflow-scroll {overflow:scroll}
.overflow-x-auto {overflow-x:auto}
.overflow-y-auto {overflow-y:auto}
.overflow-x-hidden {overflow-x:hidden}
.overflow-y-hidden {overflow-y:hidden}
.overflow-x-visible {overflow-x:visible}
.overflow-y-visible {overflow-y:visible}
.overflow-x-scroll {overflow-x:scroll}
.overflow-y-scroll {overflow-y:scroll}
.scrolling-touch {-webkit-overflow-scrolling:touch}
.scrolling-auto {-webkit-overflow-scrolling:auto}
.break-normal {overflow-wrap:normal;word-break:normal}
.break-words {overflow-wrap:break-word}
.break-all {word-break:break-all}
.truncate {overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.select-none {user-select:none}
.select-text {user-select:text}
.select-all {user-select:all}
.select-auto {user-select:auto}
.static {position:static}
.fixed {position:fixed}
.absolute {position:absolute}
.relative {position:relative}
.sticky {position:sticky}
.inset-0 {top:0;right:0;bottom:0;left:0}
.inset-auto {top:auto;right:auto;bottom:auto;left:auto}
.inset-y-0 {top:0;bottom:0}
.inset-x-0 {right:0;left:0}
.inset-y-auto {top:auto;bottom:auto}
.inset-x-auto {right:auto;left:auto}
.top-0 {top:0}
.right-0 {right:0}
.bottom-0 {bottom:0}
.left-0 {left:0}
.top-auto {top:auto}
.right-auto {right:auto}
.bottom-auto {bottom:auto}
.left-auto {left:auto}
.border-solid {border-style:solid}
.border-dashed {border-style:dashed}
.border-dotted {border-style:dotted}
.border-double {border-style:double}
.border-none {border-style:none}
.border-transparent {border-color:transparent}
.border-white {border-color:#fff}
.border-side-menu {border-color:#2e384d}
.border-side-menu-item {border-color:#3d4c66}
.border-background-darker {border-color:#cfdbeb}
.border-background-dark {border-color:#e1e9f3}
.border-background {border-color:#f3f6fa}
.border-plain-text {border-color:#616266}
.border-primary-text {border-color:#181c29}
.border-primary-text-alpha-10 {border-color:rgba(24,28,4,.1)}
.border-accient-text {border-color:#214ecc}
.border-accient-text-alpha-10 {border-color:rgba(33,78,204,.1)}
.border-borders {border-color:#dadde5}
.border-borders-alt {border-color:#dfe1e6}
.border-accient-darker {border-color:#214ecc}
.border-accient-dark {border-color:#416fde}
.border-accient {border-color:#6090f0}
.border-accient-light {border-color:#cce0ff}
.border-danger-darker {border-color:#a22020}
.border-danger-dark {border-color:#b72525}
.border-danger {border-color:#cc2929}
.border-danger-light {border-color:#f5d4d4}
.border-danger-alpha-10 {border-color:rgba(204,41,41,.1)}
.border-success-darker {border-color:#1e844a}
.border-success-dark {border-color:#295}
.border-success {border-color:#27ae61}
.border-success-light {border-color:#d4efdf}
.border-warning-darker {border-color:#cbae16}
.border-warning-dark {border-color:#e2c219}
.border-warning {border-color:#e8ca2c}
.border-warning-light {border-color:#faf2cd}
.border-icons {border-color:#aaadb3}
.whitespace-normal {white-space:normal}
.whitespace-no-wrap {white-space:nowrap}
.whitespace-pre {white-space:pre}
.whitespace-pre-line {white-space:pre-line}
.whitespace-pre-wrap {white-space:pre-wrap}
.pointer-events-none {pointer-events:none}
.pointer-events-auto {pointer-events:auto}
.z-0 {z-index:0}
.z-1 {z-index:1}
.z-2 {z-index:2}
.-z-1 {z-index:-1}
.grid-cols-1 {grid-template-columns:repeat(1,minmax(0,1fr))}
.grid-cols-2 {grid-template-columns:repeat(2,minmax(0,1fr))}
.grid-cols-3 {grid-template-columns:repeat(3,minmax(0,1fr))}
.grid-cols-4 {grid-template-columns:repeat(4,minmax(0,1fr))}
.grid-cols-5 {grid-template-columns:repeat(5,minmax(0,1fr))}
.grid-cols-6 {grid-template-columns:repeat(6,minmax(0,1fr))}
.grid-cols-7 {grid-template-columns:repeat(7,minmax(0,1fr))}
.grid-cols-8 {grid-template-columns:repeat(8,minmax(0,1fr))}
.grid-cols-9 {grid-template-columns:repeat(9,minmax(0,1fr))}
.grid-cols-10 {grid-template-columns:repeat(10,minmax(0,1fr))}
.grid-cols-11 {grid-template-columns:repeat(11,minmax(0,1fr))}
.grid-cols-12 {grid-template-columns:repeat(12,minmax(0,1fr))}
.grid-cols-none {grid-template-columns:none}
.grid-rows-1 {grid-template-rows:repeat(1,minmax(0,1fr))}
.grid-rows-2 {grid-template-rows:repeat(2,minmax(0,1fr))}
.grid-rows-3 {grid-template-rows:repeat(3,minmax(0,1fr))}
.grid-rows-4 {grid-template-rows:repeat(4,minmax(0,1fr))}
.grid-rows-5 {grid-template-rows:repeat(5,minmax(0,1fr))}
.grid-rows-6 {grid-template-rows:repeat(6,minmax(0,1fr))}
.grid-rows-none {grid-template-rows:none}
.grid-flow-row {grid-auto-flow:row}
.grid-flow-col {grid-auto-flow:column}
.grid-flow-row-dense {grid-auto-flow:row dense}
.grid-flow-col-dense {grid-auto-flow:column dense}
.col-auto {grid-column:auto}
.col-span-1 {grid-column:span 1/span 1}
.col-span-2 {grid-column:span 2/span 2}
.col-span-3 {grid-column:span 3/span 3}
.col-span-4 {grid-column:span 4/span 4}
.col-span-5 {grid-column:span 5/span 5}
.col-span-6 {grid-column:span 6/span 6}
.col-span-7 {grid-column:span 7/span 7}
.col-span-8 {grid-column:span 8/span 8}
.col-span-9 {grid-column:span 9/span 9}
.col-span-10 {grid-column:span 10/span 10}
.col-span-11 {grid-column:span 11/span 11}
.col-span-12 {grid-column:span 12/span 12}
.col-start-1 {grid-column-start:1}
.col-start-2 {grid-column-start:2}
.col-start-3 {grid-column-start:3}
.col-start-4 {grid-column-start:4}
.col-start-5 {grid-column-start:5}
.col-start-6 {grid-column-start:6}
.col-start-7 {grid-column-start:7}
.col-start-8 {grid-column-start:8}
.col-start-9 {grid-column-start:9}
.col-start-10 {grid-column-start:10}
.col-start-11 {grid-column-start:11}
.col-start-12 {grid-column-start:12}
.col-start-13 {grid-column-start:13}
.col-start-auto {grid-column-start:auto}
.col-end-1 {grid-column-end:1}
.col-end-2 {grid-column-end:2}
.col-end-3 {grid-column-end:3}
.col-end-4 {grid-column-end:4}
.col-end-5 {grid-column-end:5}
.col-end-6 {grid-column-end:6}
.col-end-7 {grid-column-end:7}
.col-end-8 {grid-column-end:8}
.col-end-9 {grid-column-end:9}
.col-end-10 {grid-column-end:10}
.col-end-11 {grid-column-end:11}
.col-end-12 {grid-column-end:12}
.col-end-13 {grid-column-end:13}
.col-end-auto {grid-column-end:auto}
.visible {visibility:visible}
.invisible {visibility:hidden}
.cursor-auto {cursor:auto}
.cursor-default {cursor:default}
.cursor-pointer {cursor:pointer}
.cursor-wait {cursor:wait}
.cursor-text {cursor:text}
.cursor-move {cursor:move}
.cursor-not-allowed {cursor:not-allowed}
.transition-none {transition-property:none;transition-duration:250ms;transition-duration:var(--transition-duration)}
.transition-all {transition-property:all;transition-duration:250ms;transition-duration:var(--transition-duration)}
.transition-color {transition-property:color;transition-duration:250ms;transition-duration:var(--transition-duration)}
.transition-box-shadow {transition-property:box-shadow;transition-duration:250ms;transition-duration:var(--transition-duration)}
.transition-form-item {transition-property:box-shadow,color,border-color,background-color,opacity;transition-duration:250ms;transition-duration:var(--transition-duration)}
.transition-0 {--transition-duration:0ms;transition-duration:0s;transition-duration:var(--transition-duration)}
/*! utils:end  */
