:root {
  --color-white: #fff;
  --color-side-menu: #2e384d;
  --color-side-menu-item: #3d4c66;
  --color-background-darker: #cfdbeb;
  --color-background-dark: #e1e9f3;
  --color-background: #f3f6fa;
  --color-plain-text: #616266;
  --color-primary-text: #181c29;
  --color-primary-text-alpha-10: rgba(24,28,4,0.1);
  --color-accent-text: #214ecc;
  --color-accent-text-alpha-10: rgba(33,78,204,0.1);
  --color-borders: #dadde5;
  --color-borders-alt: #dfe1e6;
  --color-accent-darker: #214ecc;
  --color-accent-dark: #416fde;
  --color-accent: #6090f0;
  --color-accent-light: #cce0ff;
  --color-danger-darker: #a22020;
  --color-danger-dark: #b72525;
  --color-danger: #cc2929;
  --color-danger-light: #f5d4d4;
  --color-danger-alpha-10: rgba(204,41,41,0.1);
  --color-success-darker: #1e844a;
  --color-success-dark: #295;
  --color-success: #27ae61;
  --color-success-light: #d4efdf;
  --color-warning-darker: #cbae16;
  --color-warning-dark: #e2c219;
  --color-warning: #e8ca2c;
  --color-warning-light: #faf2cd;
  --color-icons: #aaadb3;

  --font-mono: ui-monospace, sfmono-regular, "Menlo", "Monaco", "Consolas", "Liberation Mono", "Courier New", monospace;
  --font-roboto: "Roboto", sans-serif;
  --font-yandex: "YS Text", sans-serif;

  --rounded-form-item: 8px;
  --rounded-layout: 12px;

  --size-text-body: 13px;
  --size-text-menu: 14px;
  --size-text-h1: 28px;
  --size-text-h2: 24px;
  --size-text-h3: 20px;
  --size-text-h4: 16px;
  --size-text-h5: 14px;
  --size-text-huge: 56px;

  --transition-duration: 250ms;
  --transition-property-form-item: box-shadow, color, border-color, background-color, opacity;
}
