.inline-block {
  display: inline-block;
}
.flex-grow {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
.h-0 {
  height: 0px;
}
.h-1000px {
  height: 1000px;
}
.m-2px {
  margin: 2px;
}
.opacity-0 {
  opacity: 0;
}
.p-8px {
  padding: 8px;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.text-center {
  text-align: center;
}
.w-0 {
  width: 0px;
}